@use 'mixins.scss' as *;
@use 'var.scss' as *;

.zoom {
  animation: aZoom 0.6s
}

.btn{
  width: 170px;
  cursor: inherit;
  padding: 0 8px;
  font: $linkFont;
  background-color:  $mainBgColor;
  color: $headerTextColor;
  box-sizing: border-box;
  &:hover{
    transition: all 0.3s ease-out;
    box-shadow:0 0 0 3px $mainBgColor inset;
    background: none;
    color: $mainBgColor;
  }
}

@keyframes aZoom{
  from{
    @include transform(scale(0));
  }
  to{
    @include transform(scale(1));
  }
}

.Easy:hover {background: #3cdc64cc;}
.Medium:hover {background: #50c864cc;}
.Hard:hover {background: #64b464cc;}
.Harder:hover {background: #78a064cc;}
.Insane:hover {background: #8c8c64cc;}
.Extreme:hover {background: #a07864cc;}
.God:hover {background: #b46464cc;}
.Impossible:hover {background: #c85064cc;}
.Unsolvable:hover {background: #dc3c64cc;}