@use '../common/var.scss';
@use '../common/mixins.scss';

#container{
  @include mixins.block(0 auto, 20px 0);
  width: 100%;
  text-align: center;
  flex: 1;
  z-index: 2;
  @include mixins.transition(background-color 0.5s);
  #container_Home,#container_Rules{
    position: relative;
    margin: 0 auto;
    width: clamp(300px, 80%, 1000px);
    > h1{
      font: var.$textHeaderFont;
      margin-bottom: 10px;
    }
    > p{
      font: var.$textFont;
    }
  }
}