@use '../common/var.scss';
@use '../common/mixins.scss';

#footer{
  @include mixins.block(0 auto, 0);
  text-align: center;
  font: var.$linkFont;
  color: var.$headerTextColor;
  cursor: pointer;
  > a{
    display: inline-block;
    height: 100%;
    @include mixins.transition(background-color 0.5s);
  }
  #a_Github:before{
    content: '\f09b';
    font-family: var.$fontAwesome;
    margin: 0 20px;
  }
  #a_Instagram:before{
    content: '\f16d';
    font-family: var.$fontAwesome;
    margin: 0 20px;
  }
  #a_Telegram:before{
    content: '\f2c6';
    font-family: var.$fontAwesome;
    margin: 0 20px;
  }
  &_text{
    font: var.$footerFont;
    margin: 10px auto;
  }
}