@use 'mixins.scss';

.zoom {
  animation: aZoom 0.6s
}

@keyframes aZoom{
  from{
    @include mixins.transform(scale(0));
  }
  to{
    @include mixins.transform(scale(1));
  }
}

.Easy:hover {background: #3cdc64cc;}
.Medium:hover {background: #50c864cc;}
.Hard:hover {background: #64b464cc;}
.Harder:hover {background: #78a064cc;}
.Insane:hover {background: #8c8c64cc;}
.Extreme:hover {background: #a07864cc;}
.God:hover {background: #b46464cc;}
.Impossible:hover {background: #c85064cc;}
.Unsolvable:hover {background: #dc3c64cc;}