// colors
@use "sass:math";
@use "sass:list";

$mainBgColor: #000;
$mainTextColor: #000;
$headerTextColor: #FAEBD7FF;

//list of colors used in the project
$colorEasy: #3cdc64;
$colorHard: #dc3c64;

// font weight
$fontWeightBold: 700;
$fontWeightRegular: 500;
$fontWeightLight: 400;
$fontWeightExtraLight: 300;
// font size
$fontSizeHeader: max(7vw, 35px);
$fontSizeHeader2: 150%;
$fontSizeLink: 140%;
$fontSizeNormal: 120%;
$fontSizeSmall: 80%;
$fontSizeExtraSmall: 60%;
$fontSizeDigits: 24px;
// line height
$lineHeightHeader: max(10vw,50px);
$lineHeightBig: 200%;
$lineHeightMiddle: 150%;
$lineHeightNormal: 100%;
$lineHeightSmall: 80%;
$lineHeightInfo: 30px;
// fonts
$pageHeaderFont: $fontWeightRegular list.slash($fontSizeHeader, $lineHeightHeader) 'Hanalei Fill', cursive;

$textFont: $fontWeightLight list.slash($fontSizeNormal,  $lineHeightNormal) 'Source Sans Pro', sans-serif;
$textHeaderFont: $fontWeightLight list.slash($fontSizeHeader2, $lineHeightNormal) 'Source Sans Pro', sans-serif;
$footerFont: $fontWeightExtraLight list.slash($fontSizeExtraSmall,  $lineHeightSmall) 'Source Sans Pro', sans-serif;

$linkFont: $fontWeightRegular list.slash($fontSizeLink,  $lineHeightBig) 'Averia Gruesa Libre', cursive;
$infoFont: $fontWeightBold list.slash($fontSizeNormal,  $lineHeightInfo) 'Averia Gruesa Libre', cursive;
$infoLevelFont: $fontWeightBold list.slash($fontSizeNormal,  $lineHeightBig) 'Averia Gruesa Libre', cursive;

$fontAwesome: FontAwesome, sans-serif;

// sizes
$maxContainerWidth: 1200px;
$minContainerWidth: 300px;

$screen-min: 320px;
$screen-min-s: 400px;
$screen-xxs: 565px;
$screen-xs: 767px;
$screen-sm: 991px;
$screen-md: 1199px;
$screen-lg: 1400px;

// @media #{$tablets}{}
$phones-mini: 'only screen and (max-width: #{$screen-min-s})';
$phones: 'only screen and (max-width: #{$screen-min-s})';
$phones-big: 'only screen and (max-width: #{$screen-xxs})';
$tablets: 'only screen and (max-width: #{$screen-xs})';
$tablets-big: 'only screen and (max-width: #{$screen-sm})';
$desktop: 'only screen and (max-width: #{$screen-md})';
$full-hd: 'only screen and (max-width: #{$screen-lg})';

$sizes: $full-hd, $desktop, $tablets-big, $tablets, $phones-big, $phones, $phones-mini;