* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
*:before, *:after {
  content: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body, html {
  line-height: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

a {
  text-decoration: none;
  color: unset;
}

* {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.zoom {
  animation: aZoom 0.6s;
}

@keyframes aZoom {
  from {
    -ms-transform: scale(0);
    /* IE 9 */
    -webkit-transform: scale(0);
    /* Chrome, Safari, Opera */
    transform: scale(0);
  }
  to {
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1);
    /* Chrome, Safari, Opera */
    transform: scale(1);
  }
}
.Easy:hover {
  background: rgba(60, 220, 100, 0.8);
}

.Medium:hover {
  background: rgba(80, 200, 100, 0.8);
}

.Hard:hover {
  background: rgba(100, 180, 100, 0.8);
}

.Harder:hover {
  background: rgba(120, 160, 100, 0.8);
}

.Insane:hover {
  background: rgba(140, 140, 100, 0.8);
}

.Extreme:hover {
  background: rgba(160, 120, 100, 0.8);
}

.God:hover {
  background: rgba(180, 100, 100, 0.8);
}

.Impossible:hover {
  background: rgba(200, 80, 100, 0.8);
}

.Unsolvable:hover {
  background: rgba(220, 60, 100, 0.8);
}

#header {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  display: block;
  margin: 0 auto;
  padding: 20px 0 0 0;
  width: 100%;
  text-align: center;
  font: 500 max(7vw, 35px) / max(10vw, 50px) "Hanalei Fill", cursive;
  background: linear-gradient(to right, #3cdc64, #3cdc64, #3cdc64, #dc3c64, #dc3c64, #dc3c64);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
#header:before {
  content: "\f887";
  font-family: FontAwesome, sans-serif;
  margin-right: 20px;
}
#header:after {
  content: "\f162";
  font-family: FontAwesome, sans-serif;
  margin-left: 20px;
}

#header.hidden {
  font-size: 0em;
  line-height: 0em;
  padding: 0em;
}

#nav {
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font: 500 140% / 200% "Averia Gruesa Libre", cursive;
  color: antiquewhite;
  cursor: pointer;
}
#nav > .active {
  background: linear-gradient(to right, #3cdc64, #3cdc64, #3cdc64, #dc3c64, #dc3c64, #dc3c64);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#nav > a {
  display: inline-block;
  height: 100%;
  padding: 0 10px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
#nav #a_Home:before {
  content: "\f015";
  font-family: FontAwesome, sans-serif;
  margin-right: 10px;
}
#nav #a_Play:before {
  content: "\f11b";
  font-family: FontAwesome, sans-serif;
  margin-right: 10px;
}
#nav #a_Rules:before {
  content: "\f05a";
  font-family: FontAwesome, sans-serif;
  margin-right: 10px;
}

#container {
  display: block;
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  text-align: center;
  flex: 1;
  z-index: 2;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
#container #container_Home, #container #container_Rules {
  position: relative;
  margin: 0 auto;
  width: clamp(300px, 80%, 1000px);
}
#container #container_Home > h1, #container #container_Rules > h1 {
  font: 400 150% / 100% "Source Sans Pro", sans-serif;
  margin-bottom: 10px;
}
#container #container_Home > p, #container #container_Rules > p {
  font: 400 120% / 100% "Source Sans Pro", sans-serif;
}

#controlPanel, #buttonsBlock, #changeLevel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

#buttonsBlock {
  flex-direction: row;
  gap: 10px;
}
#buttonsBlock > a {
  cursor: pointer;
  padding: 0 8px;
  font: 500 140% / 200% "Averia Gruesa Libre", cursive;
  background-color: #000;
  color: antiquewhite;
  box-sizing: border-box;
}
#buttonsBlock > a:hover {
  transition: all 0.3s ease-out;
  box-shadow: 0 0 0 3px #000 inset;
  background: none;
}

#p_info_timer {
  margin: 0;
  padding: 0;
  font: 500 140% / 200% "Averia Gruesa Libre", cursive;
}

#p_info_cells {
  margin: 0;
  padding: 0;
  font: 700 120% / 30px "Averia Gruesa Libre", cursive;
  display: none;
}

#p_info_level {
  margin: 0;
  padding: 0;
  font: 700 120% / 200% "Averia Gruesa Libre", cursive;
}

#sudoku {
  background-color: antiquewhite;
  height: 300px;
  width: 300px;
  margin: 40px auto;
  display: grid;
  grid-template: repeat(9, 1fr)/repeat(9, 1fr);
  position: relative;
  background-size: 80% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/files/bg/1.png);
  -webkit-transition: all 0.05s;
  -moz-transition: all 0.05s;
  transition: all 0.05s;
}
#sudoku:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: -10px;
  background: #000;
  z-index: -1;
  -webkit-transition: clip-path 2s;
  -moz-transition: clip-path 2s;
  transition: clip-path 2s;
}
#sudoku input {
  background: none;
  box-shadow: 0 0 0 1px #000 inset;
  box-sizing: border-box;
  font-size: 24px;
  font-family: "Averia Gruesa Libre", cursive;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #000;
  outline: none;
  border: none;
  text-align: center;
}
#sudoku input::-webkit-outer-spin-button, #sudoku input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#sudoku input[type=number] {
  -moz-appearance: textfield;
}
#sudoku input:nth-child(3n+1) {
  border-left: 1px solid #000;
}
#sudoku input:nth-child(3n) {
  border-right: 1px solid #000;
}
#sudoku input:nth-child(n+19):nth-child(-n+27), #sudoku input:nth-child(n+46):nth-child(-n+54), #sudoku input:nth-child(n+73):nth-child(-n+81) {
  border-bottom: 1px solid #000;
}
#sudoku input:nth-child(n+1):nth-child(-n+9), #sudoku input:nth-child(n+28):nth-child(-n+36), #sudoku input:nth-child(n+55):nth-child(-n+63) {
  border-top: 1px solid #000;
}

#range {
  display: block;
  margin: 0 2px;
  -webkit-appearance: none;
  width: clamp(200px, 50%, 400px);
  height: 30px;
  background: antiquewhite;
  outline: none;
  opacity: 0.7;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
#range:hover {
  opacity: 1;
}
#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: #000;
  cursor: pointer;
}
#range::-moz-range-thumb {
  width: 40px;
  height: 40px;
  background: #000;
  cursor: pointer;
}

#winMessageBlock {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background-color: rgba(250, 235, 215, 0.4);
  text-align: center;
  transform: translateY(-50%);
  transition: all 0.5s;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0);
  font: 500 max(7vw, 35px) / max(10vw, 50px) "Hanalei Fill", cursive;
  font-weight: bold;
  text-shadow: 0 0 40px #000;
}

#footer {
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font: 500 140% / 200% "Averia Gruesa Libre", cursive;
  color: antiquewhite;
  cursor: pointer;
}
#footer > a {
  display: inline-block;
  height: 100%;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
#footer #a_Github:before {
  content: "\f09b";
  font-family: FontAwesome, sans-serif;
  margin: 0 20px;
}
#footer #a_Instagram:before {
  content: "\f16d";
  font-family: FontAwesome, sans-serif;
  margin: 0 20px;
}
#footer #a_Telegram:before {
  content: "\f2c6";
  font-family: FontAwesome, sans-serif;
  margin: 0 20px;
}
#footer_text {
  font: 300 60% / 80% "Source Sans Pro", sans-serif;
  margin: 10px auto;
}

[class^=firework-] {
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
}

.firework-1 {
  animation: firework-sm 1.2s both infinite;
  animation-delay: 0.65s;
  top: 55%;
  left: 30%;
  z-index: 100;
}

.firework-2 {
  animation: firework-sm 1.2s both infinite;
  animation-delay: 0.05s;
  top: 25%;
  left: 15%;
  z-index: 100;
}

.firework-3 {
  animation: firework-lg 1.2s both infinite;
  animation-delay: 0.7s;
  top: 75%;
  left: 40%;
  z-index: 100;
}

.firework-4 {
  animation: firework-sm 1.2s both infinite;
  animation-delay: 0.7s;
  top: 80%;
  left: 50%;
  z-index: 100;
}

.firework-5 {
  animation: firework-lg 1.2s both infinite;
  animation-delay: 0.45s;
  top: 25%;
  left: 90%;
  z-index: 100;
}

.firework-6 {
  animation: firework-lg 1.2s both infinite;
  animation-delay: 0.6s;
  top: 65%;
  left: 15%;
  z-index: 100;
}

.firework-7 {
  animation: firework-sm 1.2s both infinite;
  animation-delay: 0.45s;
  top: 25%;
  left: 35%;
  z-index: 100;
}

.firework-8 {
  animation: firework-sm 1.2s both infinite;
  animation-delay: 0.55s;
  top: 35%;
  left: 70%;
  z-index: 100;
}

.firework-9 {
  animation: firework-sm 1.2s both infinite;
  animation-delay: 0.35s;
  top: 60%;
  left: 15%;
  z-index: 100;
}

.firework-10 {
  animation: firework-sm 1.2s both infinite;
  animation-delay: 0.65s;
  top: 85%;
  left: 15%;
  z-index: 100;
}

.firework-11 {
  animation: firework-lg 1.2s both infinite;
  animation-delay: 0.3s;
  top: 30%;
  left: 75%;
  z-index: 100;
}

.firework-12 {
  animation: firework-sm 1.2s both infinite;
  animation-delay: 0.45s;
  top: 80%;
  left: 75%;
  z-index: 100;
}

.firework-13 {
  animation: firework-md 1.2s both infinite;
  animation-delay: 0.75s;
  top: 20%;
  left: 15%;
  z-index: 100;
}

.firework-14 {
  animation: firework-lg 1.2s both infinite;
  animation-delay: 0.55s;
  top: 60%;
  left: 60%;
  z-index: 100;
}

.firework-15 {
  animation: firework-md 1.2s both infinite;
  animation-delay: 0.65s;
  top: 40%;
  left: 85%;
  z-index: 100;
}

@keyframes firework-sm {
  0%, 100% {
    opacity: 0;
  }
  10%, 70% {
    opacity: 1;
  }
  100% {
    box-shadow: -4.5rem 0rem 0 #000, 4.5rem 0rem 0 #000, 0rem -4.5rem 0 #000, 0rem 4.5rem 0 #000, 3.15rem -3.15rem 0 #000, 3.15rem 3.15rem 0 #000, -3.15rem -3.15rem 0 #000, -3.15rem 3.15rem 0 #000;
  }
}
@keyframes firework-md {
  0%, 100% {
    opacity: 0;
  }
  10%, 70% {
    opacity: 1;
  }
  100% {
    box-shadow: -4.7rem 0rem 0 #000, 4.7rem 0rem 0 #000, 0rem -4.7rem 0 #000, 0rem 4.7rem 0 #000, 3.29rem -3.29rem 0 #000, 3.29rem 3.29rem 0 #000, -3.29rem -3.29rem 0 #000, -3.29rem 3.29rem 0 #000;
  }
}
@keyframes firework-lg {
  0%, 100% {
    opacity: 0;
  }
  10%, 70% {
    opacity: 1;
  }
  100% {
    box-shadow: -4.9rem 0rem 0 #000, 4.9rem 0rem 0 #000, 0rem -4.9rem 0 #000, 0rem 4.9rem 0 #000, 3.43rem -3.43rem 0 #000, 3.43rem 3.43rem 0 #000, -3.43rem -3.43rem 0 #000, -3.43rem 3.43rem 0 #000;
  }
}
body {
  background-color: #000;
}

/*# sourceMappingURL=main.css.map */
