@use '../common/variables' as *;
@use '../common/mixins' as *;


.content-news {
  margin: min(100px, 6vw) 0;

  &-header {
    @include adaptiveMargin;
    padding-bottom: min(38px, 6vw);
    position: relative;
    @include flex-content-news-header;
    color: $hBodyTextColor;

    h3 {
      font: 700 36px/46px $fontLora;
    }

    a {
      font: 700 12px/25px $fontLora;
      position: absolute;
      bottom: min(38px, 6vw);
      right: 0;
    }
  }

  &-body {
    @include adaptiveMargin;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    grid-gap: 50px 20px;
    @media #{$phones-big} {
      grid-gap: min(50px, 6vw) 20px;
    }
    &-item {
      img {
        object-fit: cover;
        width: 100%;
        height: 320px;
        opacity: 1;
        @include border-radius(10px);
        @include animate(opacityIn, 1.5s, 1, forwards);
        @include keyframes(opacityIn){
          0%,50%{
            opacity: 0;
            filter: grayscale(100%);
          }
          100%{
            opacity: 1;
            filter: grayscale(0%);
          }
        }
      }
    }
    &-item[draggable="true"] {
      cursor: grab !important;
      cursor: -webkit-grab !important;
      cursor: -moz-grab !important;
      position: relative;
      &:active {
        cursor: grabbing !important;
        cursor: -webkit-grabbing !important;
        cursor: -moz-grabbing !important;
        > * {
          color: $qabachoq !important;
        }
      }
    }
  }
}


.content-below{
  background: $bgGray url("/src/assets/images/Banner/Image2.png")  no-repeat center center / cover;
  text-align: center;
  @include flex-content-below;
  @include adaptivePadding(224px);
  &-text {
    @include adaptiveMargin;
    @include adaptiveFont(700, 36px, 46px, $fontLora);
    color: $whiteColor;
  }
  &-small-text{
    @include adaptiveMargin;
    font: 400 12px/20px $fontLora;
    color: $menuColor;
    margin-top: 13px;
  }
}
