@use '../common/variables' as *;
@use '../common/mixins' as *;

.active{
  border-bottom: 2px solid #D4A373;
  color: $whiteColor;
}

.cover{
  object-fit: cover;
}

.quote{
  display: block;
  color: $qabachoq;
  font: bold 36px/46px $fontLora;
  margin: 25px 0;
}

.created{
  display: block;
  margin: min(55px, 4vw) 0 0 0;
  font-weight: bold;
}

.strong{
  font-weight: bold;
}

.navOpacity{
  background: transparentize(#000, 0.1) !important;
  @include transition(.4s);
}

.hoverable:hover{

}

nav:has(button.dark) ~ *{
    background: $hBodyTextColor;
    color: $menuColor !important;
}

.message{
  @include adaptiveMargin;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font: 400 48px/48px 'Lora', serif;
}
