@use '../common/variables' as *;
@use '../common/mixins' as *;

p.date{
  font: 400 12px/15px 'Lora', serif;
  color: $hBodyTextColor2;
  margin-top: 15px;
}

p.title{
  font: 700 18px/25px 'Lora', serif;
  color: $hBodyTextColor;
  margin-top: 15px;
}

p.text{
  font: 400 12px/15px 'Lora', serif;
  color: $hBodyTextColor2;
  margin-top: 15px;
}

span.br{
  display: block;
}

span.double{
  margin-bottom: 25px;
}

a.scalable:hover{
  @include scale(1.05);
  @include transition(.2s);
}

a.hoverable:hover{
  color: transparentize(#D4A373, 0.1);
  @include transition(.2s);
}

.buttons-block{
  @include adaptiveMargin;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  button{
    margin: 0;
    padding: 8px 15px;
    border: none;
    background: transparent;
    font: 400 12px/15px 'Lora', serif;
    color: $hBodyTextColor2;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
      color: transparentize(#D4A373, 0.1);
      @include transition(.2s);
    }
  }
}
