@use '../common/var.scss' as *;
@use '../common/mixins.scss'as *;

#header{
    @include transition(all 1.0s);
    @include block(0 auto, 20px 0 0 0);
    width: 100%;
    text-align: center;
    font: $font_LOGO;
    @include linearTextColor;
    cursor: inherit;
    &:before{
        content: '\f887';
        font-family: $fontAwesome;
        margin-right: 20px;
    }
    &:after{
        content: '\f162';
        font-family: $fontAwesome;
        margin-left: 20px;
    }
}
#header.hidden{
    font-size: 0em;
    line-height: 0em;
    padding: 0em;
}
